{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "always",
  "printWidth": 120,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2
}
